body {
  position: relative;
  color: #474747;
  background-color: #E0E0E0;
  margin: 0;
  padding: 0;
  height: auto;
}

nav {
  position: fixed; /* Set the navbar to fixed position */
top: 0; /* Position the navbar at the top of the page */
/* max-height: 5vh; */
width: 80%;
padding:0 10%;
/* background-color: #f3f3f3; */

}
.navShadow {
  box-shadow: 0px 5px 5px gray;
}
.solid {
  color: #474747;
  background-color: #ffffff;
  /* border: 1px solid #e7e7e7; */
  z-index: 1;
  /* padding: 10px; */

}
.navComponent {
  /* text-shadow: .2px .2px #f3f3f3; */
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 1;

}

li {
    float: right;
    min-height: 5vh;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    color: #fff;
}

li a:hover:not(.active) {
  /* border-color: black;
  border: 10px;
  border-radius: 20%; */
  opacity: 0.5;
  /* top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; */
}

/* li a.active {
    color: white;
    background-color: #4CAF50;
} */

.fLeft {
  float: left;
}

#headContent{
  /* max-height: 30vh;
  min-height: 17vh; */
  padding: 20% 15%;
  text-align: right;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  height: auto;
  margin-bottom: 150px;
  color: #fff;
}

#headContent h1{
  margin: 0;
  padding: 0;
}
#headContent h2{
  margin: 0;
  padding: 10px 0;
}
#headMain {
  display:block;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: #767676; */
  background-image: url("resources/tempHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  min-height: 80vh;
}

#contactButton {
  margin-top: 10px;
  font-size: 36px;
  color: #e7e7e7;
  font-weight: 700;
  border-radius: 15px;
  border: 2px solid #AD343E;
  background-color: #AD343E;
  opacity: 1;
  font-style: "Roboto", serif;
}

#contactButton:hover {
  color: #AD343E;
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  cursor:pointer;
}
#mainContainer {
  font-family: Roboto, serif;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  top: -40vh;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  color: #474747;
  box-shadow: 0px 5px 10px gray;
}
#mission {
  text-align: center;
}

#mission h1 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #3C4858;

}
#mission h3 {
  color: #3C4858;
}
#mission p {
  font-size: 15px;
  text-align: center;
  padding: 0px 10vw;
}
#missionObjectives {
  text-align: center;
  height: auto;
  width: 100%;

}
#missionObjectives p {
  padding: 0px 3vw;
}
.objective {
  font-size: 1em;
  /* justify-content: space-around; */
  margin-top: 20px;
  width: 33%;
  float:left;
  /* min-height:(200px); */
  background-color: #ffffff;
  color: #474747;
  margin-bottom: 10vh;
  height: auto;
}

#leftRightFlow {
  width: 100%;
  display:block;
  margin-top: 40vh;
  text-align: center;
  background-color: #ffffff;
  color: #3C4858;
  /* min-height: 600px; */
}

#footer {
  display: table;
    clear: both;
  background-color: black;
  width: 100%;
  color: white;
}
.breaker {
  display: table;
    clear: both;
}
#form-container {

}
.testCard:nth-child(even) {
  float: left;
  max-width: 70%;
  min-width: auto;
  min-height: 100px;
  background-color: #ffffff;
  color: #474747;
  opacity: .9;
  margin-top: 2vh;
}

.testCard:nth-child(odd) {
  float: right;
  max-width: 70%;
  min-width: auto;
  min-height: 100px;
  background-color: transparent;
  color: #474747;
  opacity: .9;
  margin-top: 2vh;
}

.testCard h4 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
color: #3C4858;
}

.testCard h5 {

  opacity: 0.8;
  font-size: 30px;
  /* border: 1px solid gray;
  border-radius: 3%; */
  padding: 5px;
  color: #3C4858;
}
.cardimg {
  max-width:90%;
  border: 1px solid black;
  border-radius: 33%;
  border-radius: 120px 10px / 100px;
}

.grid-item {
  font-size: 12px;
  text-align: center;

}

.contact-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: #3C4858;
}
#contact-section {
  text-align: center;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 20px;
  color: #3C4858;

}

.cIcon {
  padding: 5px;
  font-size: 70px;
  color:#474747;
}

.cIcon:hover {
  padding: 0px;
  font-size: 80px;
  color: #3C4858;
}
