body {
  position: relative;
  color: #474747;
  background-color: #E0E0E0;
  margin: 0;
  padding: 0;
  height: auto;
  font-family: 'Roboto', sans-serif;
}
.breaker {
  display: table;
  clear: both;
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #3C4858;
}
/* NAV BEGIN */
nav {
  position: fixed;
  top: 0;
  width: 80%;
  padding: 0 10%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
  /* min-height: 5vh; */
max-width: 25vw;
}
li a {
  display: block;
  text-align: center;
  padding: 14px 5px;
  text-decoration: none;
  color: #fff;
}
li a:hover{
  opacity: 0.5;
}
nav img {
  margin: 0;
  padding: 0;
  max-height: 20px;
}
.fLeft {
  float: left;
}
/* SOLID NAV START */
.navShadow {
  box-shadow: 0px 5px 5px gray;
}
.solid {
  color: #474747;
  background-color: #ffffff;
  z-index: 1;
}
.navComponent {
    font-size: 100%;

}
/* SOLID NAV END */
/* NAV END */
/* HEADER START */
#headContent {
  padding: 20% 15%;
  text-align: right;
  font-size: 30px;
  font-weight: 700;
  height: auto;
  margin-bottom: 150px;
  color: #fff;
}
#headContent h2 {
  font-size: 3.5vw;
  margin: 0;
  padding: 10px 0;
}
#headMain {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  /* background-color: #767676; */
  background-image: url("resources/tempHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  min-height: 80vh;
}
#contactButton {
  margin-top: 20px;
  font-size: 36px;
  color: #e7e7e7;
  font-weight: 700;
  border-radius: 15px;
  border: 2px solid #AD343E;
  background-color: #AD343E;
  opacity: 1;
  font-style: "Roboto", serif;
}
#contactButton:hover {
  color: #AD343E;
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  cursor: pointer;
}
/* HEADER END */
/* MAIN CONTAINER START */
#mainContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: auto;
  top: -40vh;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  color: #474747;
  box-shadow: 0px 5px 10px gray;
}
#mainContainer h2 {
  text-align: center;
}
/* MISSION START */
#mission h2 {
  padding-top: 10px;
  padding-bottom: 20px;
  color: #3C4858;
}
#mission h3 {
  color: #3C4858;
  padding: 0px 3vw;
}
#mission p {
  font-size: 15px;
  padding: 0px 8vw;
}
#missionObjectives p {
  padding: 0px 3vw;
}
.objective {
  font-size: 1em;
  margin-top: 20px;
  min-width: 30%;
  max-width: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
  float: left;
  margin-bottom: 2vh;
  height: auto;
}
/* MISSIONS END */
/* PORTFOLIO CARDS BEGIN */
#leftRightFlow {
  width: 100%;
  display: block;
  margin-top: 10vh;
  text-align: center;
}
.testCard:nth-child(even) {
  float: left;
  max-width: 70%;
  min-width: auto;
  min-height: 100px;
  color: #474747;
  opacity: .9;
  margin-top: 2vh;
  border: none;
}
.testCard:nth-child(odd) {
  float: right;
  max-width: 70%;
  min-width: auto;
  min-height: 100px;
  color: #474747;
  opacity: .9;
  margin-top: 2vh;
  border: none;
}
.testCard h4 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  color: #3C4858;
}
.testCard h5 {
  opacity: 0.8;
  font-size: 30px;
  padding: 5px;
  color: #3C4858;
}
.cardimg {
  max-width: 90%;
  border-radius: 33%;
  border-radius: 120px 10px / 100px;
}
/* PORTFOLIO CARDS END */
/* CONTACT BEIGN */
.contactContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px;
}
#contactSection {
  text-align: center;
  padding-left: 5vh;
  padding-right: 5vh;
  font-size: 20px;
  color: #3C4858;
}
.cIcon {
  max-width: 50%;
  padding: 5px;
  font-size: 65px;
  color: #474747;
}
.cIcon:hover {
  padding: 0px;
  font-size: 75px;
  color: #3C4858;
}
/* CONTACT END */
/* FOOTER BEGIN */
#footer {
  display: table;
  clear: both;
  background-color: black;
  width: 100%;
  color: white;
}
#footer img {
  margin: 0;
  padding: 0;
  max-height: 30px;
}
.gridItem {
  font-size: 12px;
  text-align: center;
}
/* FOOTER END */
